.container {
    display: none; 
}

.containerDesktop {
    display: block; 
}

@media (max-width: 900px) {
    .container {
        display: block; 
    }

    .containerDesktop {
        display: none;
    }
}

.ContactContent{
    text-align: center;
}

.contentContainerDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contentContainerDivImages{
    display: flex;
    flex-direction: column;
}

p{
    padding: 0rem 2rem;
}




#contactTitleDesktop{
    margin-top: 5rem;
}

.contactImagesBannerTopDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactImagesBannerTopDesktop img{
    width: 40%;
}

.contactsContainerDivDesktop{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.contactDivDesktop img{
    height: 2rem;
    width: auto;
}

.contactDiv button{
    font-size: medium;
}

